<div class="card-list" id="card-list-<%= business.id %>">
  <div class="card-list-image">
    <img src="<%= business.photo.html_safe %>">
  </div>
  <div class="card-list-content">
    <div class="card-list-content-inline">
      <h1><%= truncate(business.name, length: 25) %></h1>
       <div id="delete-business">
          <%= link_to journey_path(business_id: business.id), class: 'data-type-button btn btn-negative', method: :delete, remote: true do %>
            <i class="fas fa-times button-delete"></i>
          <% end %>
        </div>
      </a>
    </div>
    <div class="card-list-content-inline">
      <p><%= business.shortaddress.chomp(", Montréal").chomp(", Montreal") %></p>
    </div>
    <div class="card-list-content-inline">
      <p><%= business.phone %></p>
    </div>
  </div>
</div>

