<!-- CSS -->
<style>
  .card-list-image {
    background-image: url(<%= image_path('business.jpg') %>);
    width: 90px;
    height: 90px;
    background-size: cover;
  }
</style>

<!-- HTML -->
<div class="card-list" id="card-list">
  <div class="card-list-image">
  </div>
  <div class="card-list-content">
    <div class="card-list-content-inline">
      <h1><%= business.name %></h1>
      <a href="">
        <i class="fas fa-times"></i>
      </a>
    </div>
    <div class="card-list-rating">
      <%= render 'components/stars', business: business %>
      <p><%= business.ratings %></p>
    </div>
    <div class="card-list-content-inline">
      <p><%= business.phone %></p>
    </div>
  </div>
</div>
