<div class="card-list" id="card-list-<%= business.id %>">
  <div class="card-list-image">
    <img src="<%= business.photo.html_safe %>">
  </div>
  <div class="card-list-content">
    <div class="card-list-content-inline">
      <h1><%= truncate(business.name, length: 30) %></h1>
       <div id="delete-business">
          <%= simple_form_for(business, url: journey_path, method: :delete, remote: true) do |f| %>
            <%= f.hidden_field :id %>
            <%= button_tag type: 'submit', class: 'btn font-awesome-button' do %>
              <i class="fas fa-times"></i>
            <% end %>
          <% end %>
        </div>
      </a>
    </div>
    <div class="card-list-rating">
      <%= render 'components/stars', business: business %>
      <p><%= business.ratings %></p>
    </div>
    <div class="card-list-content-inline">
      <p><%= business.phone %></p>
    </div>
  </div>
</div>
