<div class="card-list" id="card-list-<%= business.id %>">
  <div class="card-list-image">
    <img src="<%= business.photo.html_safe %>">
  </div>
  <div class="card-list-content">
    <div class="card-list-content-inline">
      <h1><%= business.name %></h1>
       <div id="delete-business">
          <%= link_to journey_path(business_id: business.id), class: 'data-type-button btn btn-negative', method: :delete, remote: true do %>
            <i class="fas fa-times"></i>
          <% end %>
        </div>
      </a>
    </div>
    <div class="card-list-rating">
      <%= render 'components/stars', business: business %>
      <p><%= business.ratings %></p>
    </div>
    <div class="card-list-content-inline">
      <p><%= business.phone %></p>
    </div>
  </div>
</div>
