<!-- CSS -->
<style>
  .card-image {
    width: 100%;
    height: 175px;
    background-size: cover;
    position: relative;
  }
</style>

<!-- HTML -->
<div class="card">
  <div class="card-image" style="background-image: url('<%= business.photo.html_safe %>');">
    <div class="card-status">
      <%= render 'components/status' %>
    </div>
  </div>
  <div class="card-content">
    <h1><%= business.name %></h1>
    <div class="card-rating">
      <%= render 'components/stars', business: business %>
      <p><%= business.ratings %></p>
    </div>
    <div>
      <p>
        <%= business.phone %> • <%= business.shortaddress.chomp(", Montréal") %>
      </p>
    </div>
    <p class="card-description">
      <%= truncate(business.reviews.first.content, length: 70) %>
    </p>
    <div class="card-action">
      <%= simple_form_for(business, url: journey_path, method: :post, remote: true) do |f| %>
        <%= f.hidden_field :id %>
        <%= f.submit "ADD", class: "btn primary-button" %>
      <% end %>
      <a href="#" id="map-button" class="btn secondary-button" data-toggle="modal" data-target="#<%=business.id %>">DETAILS</a>
      <%= render "components/info_modal", {business: business} %>
    </div>
  </div>
</div>


