<table class="hours">
  <tr>
    <td><%= business.hours[0] %></td>
  </tr>
  <tr>
    <td><%= business.hours[1] %></td>
  </tr>
  <tr>
    <td><%= business.hours[2] %></td>
  </tr>
  <tr>
    <td><%= business.hours[3] %></td>
  </tr>
  <tr>
    <td><%= business.hours[4] %></td>
  </tr>
  <tr>
    <td><%= business.hours[5] %></td>
  </tr>
  <tr>
    <td><%= business.hours[6] %></td>
  </tr>                                                            
</table>