  <!-- Modal -->
  <div class="modal fade" id="<%=business.id %>" role="dialog">
    <div class="modal-dialog modal-lg" style="width:1000px;">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <%= render "components/modal_map", business: business %>
        </div>
        <div class="modal-body-content">
          <div class="modal-status">
          <%= render 'components/status', is_open: is_open %>
          </div>
        <div class="row">
          <div class="col-xs-3">
            <div class="tiny-card">
              <img class= "modal-image" src="https://picsum.photos/200">
              <%= render "components/hours_table", {business: business} %>
            </div>
          </div>
          <div class="col-xs-9">
            <div class="modal-business-info">
              <h1 class="modal-title"><%= business.name %></h1>
              <div class="card-rating">
              <%= render 'components/stars', business: business %>
                <p><%= business.ratings %></p>
                <p id='card-rating-number'></p>
              </div>
              <p class= "contact">
                <i class="fas fa-phone"></i><%= business.phone %>
                <br>
                <i class="fas fa-address-card"></i><%= business.shortaddress.chomp(", Montréal") %></p>
              </div>
              <br>
              <% business.reviews.each_with_index do |review, i|%>
                <%  if i <= 3 %>
                  <div class="modal-review">
                    <p class="review-content">"<%= review.content %>"</p>
                    <p class="review-poster">
                      <strong><%= review.author_name.split(" ").each {|word| word.capitalize!}.join (" ")%></strong>
                      <i>gave this business <%= review.rating %> stars</i>
                    </p>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
          <button type="button" class="btn font-awesome-button modal-button" data-dismiss="modal"><i class="fas fa-times"></i></button>
        </div>
      </div>
    </div>
  </div>