  <!-- Modal -->
  <div class="modal fade" id="<%=business.id %>" role="dialog">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <%= render "components/modal_map" %>
        </div>
        <div class="row">
          <div class="col-xs-3">
            <div class="tiny_card">
              <div class="image"><img src="https://picsum.photos/200"></div>
              <%= render "components/hours_table", {hours: business.hours} %>
            </div>
          </div>
          <div class="col-xs-9">
            <!-- filler information to be replaced by variables from the database -->
            <h1 class="title"><%= business.name %></h1>
              <h2><%= business.category %></h2>
              <div class="card-rating">
              <%= render 'stars', business: business %>
                <p><%= business.ratings %></p>
                <p id='card-rating-number'></p>
              </div>
              <p class="description"><%= business.reviews.first.content%></p>
              <div class="contact">
                <p><%= business.phone %> • <%= business.shortaddress.chomp(", Montréal") %></p>
              </div>
          </div>
        </div>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>