<!-- Banner -->
<%= render 'components/banner' %>

<!-- Search -->
<div class="wrapper">
  <div class="search-business" id="homesearch">
    <%= form_tag root_path, method: :get, remote: true do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a business to add to the journey"
      %>
    <% end %>
      <div class="search-business-cards" id="business-cards">
        <% @businesses.each do |b|  %>
        <%= render 'components/card', business: b %>
        <% end %>
      </div>
  </div>
  <div class="list-business">
    <%= form_tag root_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Start location"
      %>
    <% end %>
    <%= form_tag root_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "End location"
      %>
    <% end %>
    <%= render 'components/card-list' %>
    <%= link_to "GO TO MAP", map_path, class: "btn button-call-to-action center-block", style: "margin-top: 30px; width: 130px" %>
  </div>
</div>
