<!-- Banner -->
<%= render 'components/banner' %>

<!-- Search -->
<div class="wrapper">
  <div class="search-business" id="homesearch">
    <%= form_tag root_path, method: :get, remote: true do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control form-grey",
        placeholder: "Find a business to add to the journey"
      %>
    <% end %>
    <div class="search-business-cards" id="business-cards">
      <% @businesses.each do |b|  %>
        <%= render 'components/card', business: b %>
      <% end %>
    </div>
  </div>

  <div class="list-business" id="test">
    <div class="list-business-content">
      <%= form_tag map_path, method: :get do %>
        <%= text_field_tag 'origin',
          nil,
          class: "form-control form-grey",
          id: 'flat_address_start',
          placeholder: "Set origin"
        %>
        <div class="list-business-spacer"></div>
        <%#= form_tag root_path, method: :get do %>
          <%#= text_field_tag :query,
            params[:query],
            class: "form-control form-grey",
            id: "flat_address_end",
            placeholder: "Set destination"
          %>
        <%# end %>
        <div id="journey-cart">
        </div>
        <%= submit_tag "GO TO MAP", class: "btn button-call-to-action center-block" %>
      <% end %>
    </div>
  </div>
</div>
