<div class="map-content" style="z-index: 1;">
  <%= form_tag map_path, method: :get do %>
    <%= text_field_tag 'origin',
      @origin,
      placeholder: "Set origin",
      class: "form-control",
      id: "flat_address_start"
    %>
  <% end %>
  <%#= form_tag root_path, method: :get do %>
    <%#= text_field_tag :query,
      params[:query],
      class: "form-control",
      id: "flat_address_end",
      placeholder: "Set destination"
    %>
  <%# end %>
  <div id="journey-cart">
    <% @businesses.each do |business| %>
      <%= render 'components/card-list', business: business %>
    <% end %>
  </div>
  <%= link_to "BACK", root_path, class: "btn button-call-to-action center-block", style: "margin-top: 30px; width: 130px" %>
</div>
<%= render "components/fullpage_map", markers: @markers %>
